/* Colors
#820200	Dark Orange
#E01000	Medium Orange
#FB2F00	Bright Orange
#FFE912	Bright Yellow
#FFE862	Soft Yellow

#F3F3F3 Light Grey Backround
#D9D9D9 Med-Light Grey Backround
#484D55	Med Dark Grey Text
#32353B Dark Grey
#282B34 Dark Grey Footer Background

-->BUTTONS
#606167 Med-Grey Button Text
#2F333B Med-Dark Grey Button Background
#3F434B	Dark Grey Footer Button Hover 
#1F232B Dark Grey Footer Button Activate
*/

/* The Modal (background) */

button {
  
}

button:hover {
    background-color: #FB2F00;    /* Bright Orange */
/*  background-color: #E01000;    /* Medium Orange */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal table tr td.row-label {
    font-size: 1.25em;
    font-weight: 700;
}



/* Modal Content */
.modal-content {
    position: relative;
    color: #fff;
    background: #32353B url("../img/overlay.png");
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 450px; /* Full width */
    height: 450px; /* Full height */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 20px;
}

.close:hover,
.close:focus {
  color: #FB2F00;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
  padding: 16px 0 0 30px;
  color: #fff;
  background: #32353B url("../img/overlay.png");
}

.modal-body {
  padding-left: 50px;
}

.modal-body tr {
  border: 1px solid white;
  padding-bottom: 10px;
  
}

.row-input td {
  color: #fff;
  font-weight: 700;
  margin-left: 30px;
}

.row-input input {
  width: 50%;
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
}

.row-total td {
  padding: 0 15px 0 15px;
}

.modal-footer {
  position: relative;
  color: #fff;
  background: #32353B url("../img/overlay.png");
}

.modal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
